.server {
    color: blue;
}

.tbl_in_details {
    width: 100%;
}

.wrap_attributes {
    width: 100%;
}

.table_wrapper {
    background:#ccf;
}
tr.details_head, tr.details, td.detail_element {
    text-align:left;
    vertical-align:top;
    border-bottom:dashed 1px #aaa;
    padding:7px 10px;
}
th.small_1 {
    width: 1%;
}

.details_geninfo {
    float: left;
    width: 30%;
}

td.geninfo {
    white-space: nowrap
}

.details_notefield {
    float: left;
    width: 20%;
}
textarea.details_notefield {
    width: 90%;
}
.note_save {
    width: 80%;
}

.details_attributes {
    float: right;
    width: 50%;
    min-height: 100px;
    #border-left: 1px solid gray;
}

fieldset.details_list {
    border: 1px solid gray;
    padding: 6px;
    border-bottom-style: hidden;
    border-right-style: hidden;
}
legend.details_list {
    font-size: 90%;
    border: 1px solid gray;
}

fieldset.filter_list {
    border: 1px solid gray;
    padding: 6px;
    border-bottom-style: hidden;
    border-right-style: hidden;
    width: 30%;
}
legend.filter_list {
    font-size: 90%;
    border: 1px solid gray;
}