{% load serverinfo_extras %}

<table cellpadding="0" cellspacing="0" border="0" class="tbl_in_details">
  <tr class="details_head">
    <th class="small_1">IP</th>
    <th class="small_1">VLan</th>
    <th class="small_1">Subnet</th>
    <th class="small_1">Shared with</th>
    <th class="small_1">Action</th>
  </tr>

  {% for ip in ips %}
  <tr class="details">
    <td class="detail_element">{{ ip.ip }}</td>
    <td class="detail_element">
      {{ ip.vlan }}{% if ip.vlan.vlanID %} -- vlanID: {{ ip.vlan.vlanID }}{% endif %}
    </td>
    <td class="detail_element">
      {% if ip.vlan %}
        {{ ip.getGateway }}/{{ ip.getSubnet }} -- {{ ip.vlan.network }}
      {% endif %}
    </td>
    <td class="detail_element">
      {{ ip.getShared|parseSharedIPs:server|safe }}
    </td>
    <td class="detail_element"><a href="#" class="ip_remove" rel="{{ ip.id }}">Remove</a></td>
  </tr>
  {% endfor %}
</table>
