Django
South
simplejson
django-sentry

# Dont know if we need this one yet
django-picklefield

#django-ajax-filtered-fields # Dunno if this is needed
django_extensions
django-debug-toolbar

django-reversion
django-globals
djangorestframework
django-hosts

ipaddr
werkzeug

# http://django_compressor.readthedocs.org/en/latest/
versiontools
django-appconf
django_compressor	

redis
django-redis-cache

# hiredis # C library parser for redis, faster
# django-redis-cache
# django-redis-admin # alpha, not active

django-treemenus
# or..
# django-navigen
